<footer>
    <p id="banner">Acesta este un proiect școlar!</p>
    <p>Popularitatea site-ului:</p>

    <meter value="8" min="0" max="10" low="3" high="8" optimum="10"></meter>
    <address>

        Telefon: <a href="tel:+40712345678">0712345678</a>

        <br><br>

        Adresă: <a href="https://maps.google.com/?q=Facultatea+de+Matematica+si+Informatica">Strada Sportului 10<br> București</a>

        <br><br>

        Email: <a href="mailto:contact@racketshot.ro">contact@racketshot.ro</a>

        <br><br>

        <a href="https://wa.me/40712345678">Chat pe WhatsApp</a>

    </address>

    <a href="#titlu">Înapoi sus</a>

    <p><small>Copyright &copy;2026 RacketShot - Ștefan Stan <time datetime="2026-03-09">9 martie 2026</time></small>
    </p>
</footer>