<header class="c1" id="titlu">
    <nav>
        <label id="hamburger" for="ch-menu">
            <img src="/resurse/imagini/Hamburger_icon_alb.png" alt="menu">
        </label>

        <input type="checkbox" id="ch-menu"/>

        <ul class="meniu">
            <li>
                <div class="text-icon" id="acasa">
                    <i class="fa-solid fa-house"></i>
                    <span>Acasă</span>
                </div>
                <ul>
                    <li><a href="/index#zona1">Bine ați venit</a></li>
                    <li><a href="/index#zona5">Promoții</a></li>
                    <li><a href="/index#zona4">Anunțuri</a></li>
                    <li><a href="/index#zona6">Întrebări</a></li>
                    <li><a href="/index#zona8">Galerie</a></li>
                    <li><a href="/index#zona8">Videoclipuri</a></li>
                </ul>
            </li>

            <li>
                <div class="text-icon">
                    <a href="inregistrare.html">
                        <i class="fa-solid fa-user-plus"></i>
                        <span>Înregistrare</span>
                    </a>
                </div>
            </li>

            <li>
                <div class="text-icon">
                    <i class="fa-solid fa-circle-info"></i>
                    <span>Despre</span>
                </div>
                <ul>
                    <li><a href="despre#prezentare">Prezentare</a></li>
                    <li><a href="despre#istoric">Istoric</a></li>
                    <li><a href="despre#motivatie">Motivație</a></li>
                    <li><a href="despre#galerie">Galerie</a></li>
                </ul>
            </li>

            <li>
                <div class="text-icon">
                    <i class="fa-solid fa-bag-shopping"></i>
                    <span>Produse</span>
                </div>
                <ul>
                    <li><a href="produse.html#toate">Toate</a></li>
                    <li><a href="produse.html#rachete">Rachete</a></li>
                    <li><a href="produse.html#imbracaminte">Îmbrăcăminte</a></li>
                    <li><a href="produse.html#pantofi">Pantofi</a></li>
                    <li><a href="produse.html#accesorii">Accesorii</a></li>
                </ul>
            </li>

            <li>
                <div class="text-icon">
                    <a href="contact.html">
                        <i class="fa-regular fa-envelope"></i>
                        <span>Contact</span>
                    </a>
                </div>
            </li>
        </ul>
    </nav>
</header>